<!DOCTYPE html>
<html>
<head>
  <title>SwissMiss</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jQuery" %>
  <%= csrf_meta_tags %>
</head>
<body>
<center>
<%= image_tag 'swiss_miss.png' ,:width => 400%>
</center>
<%= yield %>

</body>
</html>
